extends hlayout 

block content
    div(id="Vbody")
        div
            h1(class="welcome" style="font-size: 45px; text-shadow: 2px 2px white;") #{ firstName }'s Deleted records!
            h2(class="welcome" style="font-size: 30px; text-shadow: 2px 2px blue;") Patient: #{ firstName } #{lastName }
            h2(class="welcome" style="font-size: 30px; text-shadow: 2px 2px blue;") Blood Type: #{ bloodType }
            h2(class="welcome" style="font-size: 30px; text-shadow: 2px 2px blue;") Date of Birth: #{ dateOfBirth }
            h2(class="welcome" style="font-size: 30px; text-shadow: 2px 2px blue;") Medical Condition: #{ medicalCondition }
            h2(class="welcome" style="font-size: 30px; text-shadow: 2px 2px blue;") Urgency: #{ urgency }
            h2(class="welcome" style="font-size: 30px; text-shadow: 2px 2px blue;") Current Medication: #{ currentMedication }
            h2(class="welcome" style="font-size: 30px; text-shadow: 2px 2px blue;") Overnight Admitted: #{ overnight }
            h2(class="welcome" style="font-size: 30px; text-shadow: 2px 2px blue;") Diabetic: #{ diabetic }
        div
            p(id="text").