extends superlayout 

block content
    div(id="sbody")
        div
            h1(class="welcome" style="text-shadow: 2px 2px #b83939") Entries
            div(class="documents") 
                h3(class="entries" style="text-align: center;") #{ eSuper1 } at #{ entry1 }
                p(class="sHome0" class="swelcome0") #{ entries1 }
            hr(color="brown")
            div(class="documents") 
                h3(class="entries" style="text-align: center;") #{ eSuper2 } at #{ entry2 }
                p(class="sHome0" class="swelcome0") #{ entries2 }
            hr(color="brown")
            div(class="documents") 
                h3(class="entries" style="text-align: center;") #{ eSuper3 } at #{ entry3 }
                p(class="sHome0" class="swelcome0") #{ entries3 }
            hr(color="brown")
            div(class="documents") 
                h3(class="entries" style="text-align: center;") #{ eSuper4 } at #{ entry4 }
                p(class="sHome0" class="swelcome0") #{ entries4 }
            hr(color="brown")
            div(class="documents") 
                h3(class="entries" style="text-align: center;") #{ eSuper5 } at #{ entry5 }
                p(class="sHome0" class="swelcome0") #{ entries5 }