extends superlayout

block content
    div(id="sbody")
        div
            h1(class="welcome" style="text-shadow: 2px 2px #b83939") Users
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px #b83939") Administrative users
        div(id="sbody2") 
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="/super/profile/:User#1" style="text-Decoration: none; color: black;") #{ user1 }
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="/super/profile/:User#2" style="text-Decoration: none; color: black;") #{ user2 }
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="/super/profile/:User#3" style="text-Decoration: none; color: black;") #{ user3 }
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="/super/profile/:User#4" style="text-Decoration: none; color: black;") #{ user4 }
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="/super/profile/:User#5" style="text-Decoration: none; color: black;") #{ user5 }
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="/super/profile/:User#6" style="text-Decoration: none; color: black;") #{ user6 }
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="/super/profile/:User#7" style="text-Decoration: none; color: black;") #{ user7 }
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="/super/profile/:User#8" style="text-Decoration: none; color: black;") #{ user8 }
            div(class="sHome1")
                h1(class="swelcome" id="demo") 
                    a(href="/super/profile/:User#9" style="text-Decoration: none; color: black;") #{ user9 }
        
        a(href="/super/addUser" class="button") Add User