extends slayout 

block content
    div(id="Vbody")
        div
            h1(class="welcome3" style="font-size: 45px; text-shadow: 2px 2px white;") #{ sfirstName }'s Academic Profile Update!
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") Student: #{ sfirstName } #{ slastName }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") Student Number: #{ studentNum }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") Enroloment Date: #{ enrolmentDate }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") Programme: #{ programme }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") Year of Study: #{ yearOfStudy }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") Number of Modules: #{ numOfModules }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") Modules to be Repeated: #{ modulesToBeRepeated }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 2px 2px blue;") Full Time Enroled: #{ fullTime }
        div
            p(id="text"). 