extends vlayout

block content
  div(id="Vbody")
    div(class="Vbody1")
      h1(class="welcome") Candidates
        div(id="sbody2") 
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") #{ candidate1 }<br> #{ lCandidate1 }
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") #{ candidate2 }<br> #{ lCandidate2 }
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") #{ candidate3 }<br> #{ lCandidate3 }
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") Candidate #4
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") Candidate #5
          div(class="sHome1")
            h1(class="swelcome" id="demo") 
              a(href="#" style="text-Decoration: none; color: black;") Candidate #6
    div(class="Vbody1")
      div(id="Vbody2")
        h1(class="welcome") Vote Here!
        h3(class="welcome2") Please fill the form below to vote
        form(action="votes" class="votingForm" id="studentForm" method="post")
          input(type="text" placeholder="Voter Last Name" class="studentInput" name="vLastName" required)
          input(type="text" placeholder="Candidate Last Name" class="studentInput" name="cLastName" required)
          <br>
          input(type="text" placeholder="Position" class="studentInput" name="cPosition" required)
          <br>
          <br> 
          input(type="submit" class="studentInput" class="Vsubmit" id="submit")

                                             