extends vlayout 

block content
    div(id="Vbody")
        div
            h1(class="welcome2" style="font-size: 45px; text-shadow: 2px 2px white;") #{ fName } #{ lName }'s profile update!
            h2(class="welcome3" style="font-size: 30px; text-shadow: 1px 1px blue;") Department: #{ department }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 1px 1px blue;") Title: #{ title }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 1px 1px blue;") Previous Position: #{ previousPos }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 1px 1px blue;") Number of Years at position: #{ numOfYears }
            h2(class="welcome3" style="font-size: 30px; text-shadow: 1px 1px blue;") Statement: #{ statement }
        div 
            p(id="text"). 