extends tlayout 

block content
    div(id="Vbody")
        div
            h1(class="welcome" style="font-size: 45px; text-shadow: 2px 2px white;") #{ tFirstName }'s Tourist Profile Update!
            h2(class="welcome" style="font-size: 30px; text-shadow: 1px 1px blue;") Tourist: #{ tFirstName } #{tLastName }
            h2(class="welcome" style="font-size: 30px; text-shadow: 1px 1px blue;") Nationality: #{ nationality }
            h2(class="welcome" style="font-size: 30px; text-shadow: 1px 1px blue;") Date of Arrival: #{ arrival }
            h2(class="welcome" style="font-size: 30px; text-shadow: 1px 1px blue;") Date of Departure: #{ departure }
            h2(class="welcome" style="font-size: 30px; text-shadow: 1px 1px blue;") Expected weeks to stay: #{ stay }
            h2(class="welcome" style="font-size: 30px; text-shadow: 1px 1px blue;") Places to visit: #{ places }
            h2(class="welcome" style="font-size: 30px; text-shadow: 1px 1px blue;") Primary places of interest: #{ interest }
            h2(class="welcome" style="font-size: 30px; text-shadow: 1px 1px blue;") International Tourist: #{ international }
        div
            p(id="text").